*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    display: flex;
    flex-direction: column;
}


@-webkit-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 100px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 45%;
    right: 0;
    left: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 480px) {
    .container {
        width: 100%;
        height: 100%;
    }
}

/* html, body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ddd;
} */

.container {
    width: 200px;
    height: 200px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 6px;
}
.profile img {
    position: relative;
    border-radius: 50%;
    transition: all .3s;
    /* box-shadow: 0 5px 4px #e0e0e0; */
}

.profile img:hover{
    border-radius: 0;
    transition: .3s cubic-bezier(.99, -.78, .33, 1.83);
    transform: scale(1.9) translateY(0%);
}
.container-contact {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.text {
    color: black;
    text-align: center;
    margin-bottom: 13px;
}
.container-contact .group-icon {
    margin: 10px;
}
.container-contact .group-icon a {
    background: white;
    padding: 6px 10px;
    border-radius: 4px;
    margin-top: 16px;
}

.container-contact .group-icon a:hover {
    background: #84b3f9;
    color: #404040;
}
.group-icon-container{
    display: flex;
    flex-direction: row;
}
.container-contact .group-icon i {
    font-size: 28px;
    color: #333;
}